<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <script src="../static/scripts.js"></script>
    </head>
    <body>
        <div class="content">
            <select id="redirectDropdown" onchange="redirectToSelected('redirectDropdown')">
                <option value="">Select a page</option>
                <option value="/login">Login</option>
                <option value="/signup">Sign Up</option>
                <option value="/logout">Log Out</option>
            </select>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
