{% extends 'base.html' %}

{% block content %}
    <h1>Login page</h1>
    <form action="/login" method="post" class="login-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <input type="checkbox" id="showPasswordToggle">
            <label for="showPasswordToggle">Show Password</label>
        </div>
        <input type="submit" value="Login">
    </form>

    <script>
        let passwordInput = document.getElementById("password");
        let showPasswordToggle = document.getElementById("showPasswordToggle");

        showPasswordToggle.addEventListener("change", function() {
            if (showPasswordToggle.checked) {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
    </script>
{% endblock %}
