{% extends 'base.html' %}

{% block content %}

{%if username == profileName%}
<select id="profileDropdown" onchange="redirectToSelected('profileDropdown')">
    <option value="">Select Options</option>
    <option value="/profile/{{ username }}">Profile</option>
    <option value="/change-pfp">Change Profile Picture</option>
    <option value="/history/{{ username }}">History</option>
    <option value="/delete">Delete Pictures</option>
    <option value="/logout">Logout</option>
</select>
{%endif%}

{% block profile_content %}
{% endblock %}

{% endblock %}